.content {
    width: 78vw;
    margin: 0 auto;
    overflow: hidden;
}

.content_top-box:nth-child(1) {
    display: flex;
    flex-direction: row-reverse;
    padding: 60px 0;
}

.content_top-box:nth-child(2) {
    display: flex;
    padding: 0 0 60px 0;
}

.top_box-text {
    display: flex;
}

.content_space-box {
    width: 14vw;
}

.content_top-img-box {
    margin: auto 0;
}

.content_top-img {
    width: 20vw;
    min-width: 170px;
    margin: 0 6vw;
}

.content_top-img {
    width: 20vw;
}

.content_button {
    text-align: center;
    padding-top: 50px;
}

.opus_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px 0;
}

.opus_card {
    width: 320px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opus_card-link {

}

.opus_card-img {
    width: 280px;
    height: 280px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
    transition: 1s;
}

.opus_card-img:hover {
    width: 250px;
    height: 250px;
    transition: 1s;
}

.section_opus-title {
    text-align: center;
}

.section_opus-title::after {
    width: 110px;
    height: 6px;
    text-align: center;
    display: block;
    margin: 0 auto;
    background: #2BA5BF;
    content: "";
    border-radius: 50px;
}

.content_bottom {
    padding: 60px 0;
}


.image_box {
    display: flex;
    justify-content: space-between;
}

.image_card {

}

.image_card-bottom {

}


button {
    position: absolute;
    color: red;
}
/* 左矢印のボタン */
.bottom_button-left {
    left: 0;
    bottom: 20px;
}
/* 右矢印のボタン */
.bottom_button-right {
    right: 0;
    bottom: 20px;
}

@media screen and (max-width: 830px) {
    .content {
        
    }

    .opus_box{
        justify-content: center;
        padding: 120px 0;
    }

    .opus_card-img {
        
    }

    .content_bottom-button:nth-child(1) {
    display: none;
}

    .content_bottom-button:nth-child(2) {
    display: none;
}
}