.content {
    width: 80vw;
    margin: 0 auto;
    overflow: hidden;
}

.content_top-box:nth-child(1) {
    display: flex;
    flex-direction: row-reverse;
    padding: 60px 0;
}

.content_top-box:nth-child(2) {
    display: flex;
    padding: 0 0 60px 0;
}

.top_box-text {
    display: flex;
}

.number_title-text {
    padding: 18px 0;
    font-weight: 500;
}

.content_button {
    
}

.content_button-link {
    background: linear-gradient(to right, #29A3BF, #4BCBBB);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin: 0 auto;
    width: 200px;
    height: 60px;
    text-decoration: none;
    transition: 1s;
}

.button_link-text {
    color: #fff;
}

.content_button-link:hover {
    background: #fff;
    border-radius: 100px;
    border: 4px solid #29A3BF;
    transition: 1s;
}

.content_button-link:hover>.button_link-text {
    background: linear-gradient(to right, #29A3BF, #4BCBBB);
    -webkit-background-clip: text;
    color: transparent;
    transition: 1s;
}

.content_top-img-box {
    margin: auto 0;
}

.content_top-img {
    width: 20vw;
    min-width: 170px;
    margin: 0 6vw;
}

.content_top-img {
    width: 20vw;
}

.opus_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px 0;
}

.opus_card {
    width: 320px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opus_card-img {
    width: 280px;
    height: 280px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
    transition: 1s;
}

.opus_card-img:hover {
    width: 250px;
    height: 250px;
    transition: 1s;
}

.section_opus-title {
    text-align: center;
}

.section_opus-title::after {
    width: 110px;
    height: 6px;
    text-align: center;
    display: block;
    margin: 0 auto;
    background: #2BA5BF;
    content: "";
    border-radius: 50px;
}

.content_bottom {
    padding: 60px 0;
}

.image_box {
    display: flex;
    justify-content: space-between;
}

.image {
    min-width: 300px;
    min-height: 170px;
    padding: 1vw;
}

.image_card {

}

.image_card-bottom {

}


button {
    position: absolute;
}
/* 左矢印のボタン */
.bottom_button-left {
    left: 0;
    top: 2610px;
}
/* 右矢印のボタン */
.bottom_button-right {
    right: 0;
    top: 2610px;
}

.bottom_button-text {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: #2BA5BF;
    background: #fff;
    border: 5px solid #2BA5BF;
    border-radius: 100px;
    font-weight: 900;
    font-size: 30px;
    transition: 1s;
}

.bottom_button-text:hover {
    color: #fff;
    background: #2BA5BF;
    border: 5px solid #fff;
    transition: 1s;
}

@media screen and (max-width: 830px) {
    .content {
        width: 95vw;
        margin: 0 auto;
        overflow: hidden;
}

    .content_top-box:nth-child(1) {
        display: block;
        flex-direction: row;
}

    .content_top-box:nth-child(2) {
        display: block;
}
    .content_button {
        padding: 60px 0 0 0;
}

    .content_top-img-box {
        padding: 40px 0 0 0;
        text-align: center;
}

    .opus_card {
        width: 80vw;
        height: 80vw;
        margin: 30px;
}

    .opus_card-img {
        width: 80vw;
        height: 80vw;
}
}