.footer {
    background: #000;
    width: 100%;
}
.footer_title {
    display: flex;
    flex-flow: column;
    height: 300px;
}

.title_logo {
    width: 20vw;
}

.title_copy {
    font-size: 2px;
    color: #fff;
}