.header {
    background: linear-gradient(to right, #29A3BF, #4BCBBB);
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.header_title {
    padding: 12px 0 0 24px;
}

.header_contents {
    display: flex;
}

.header_topaz {
    text-align: center;
    padding: 0px 15vw 0px 7vw;
}

.header_topaz-text {
    padding: 40px 0 ;
    text-align: left;
    color: #fff;
    font-size: 18px;
    width: 380px;
}

.topaz_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px 0 100px 100px;
    border: 4px solid #29A3BF;
    width: 200px;
    height: 52px;
    background: #fff;
    text-decoration: none;
    transition: 1s;
}

.bottom-link {
    margin: 0 auto;
}

.topaz_button-link-text {
    background: #29A3BF;
    -webkit-background-clip: text;
    color: transparent;
    padding-bottom: 8px;
    font-weight: bold;
    transition: 1s;
}

.topaz_button:hover {
    border: 4px solid #fff;
    box-shadow: 208px 0px 0px 0px #30ABBF inset;
    transition: 1s;
}

.topaz_button:hover>.topaz_button-link-text {
    color: #fff;
    transition: 1s;
}

.topaz_span {
    font-size: 30px;
}

.header_right-img {
    margin: auto 0;
    display: block;
}

.header_profile-img-pc {
    display: block;
    width: 54vw;
    min-width: 600px;
}

.header_calorie-img-sp {
    display: none;
}

.header_profile-img-sp {
    display: none;
}


.header_bottom-arrow {
    padding-top: 100px;
    text-align: center;
}



.footer_space-box {

}

@media screen and (max-width: 830px) {
    .header_title-logo {
        width: 80px;
        height: 18px;
    }
    .header_contents {
        display: block;
}

    .header_topaz {
        padding: 200px 0 200px 0;
}

    .header_topaz-logo {
        width: 33vw;
        min-width: 115px;
    }

    .header_topaz-text {
        margin: 0 auto;
        padding: 0 0 40px 0;
}

    .bottom-link {
        position: absolute;
        bottom: 170px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
}

    .header_profile-img-pc {
        display: none;
}

    .header_profile-img-sp {
        display: block;
        position: absolute;
        width: 130px;
        left: -30px;
        z-index: 1;
}
    .header_calorie-img-sp {
        display: block;
        position: absolute;
        width: 200px;
        bottom: 50px;
        right: 0;
        z-index: 1;
}
}