.header_top-menu {
    display: flex;
    position: fixed;
    z-index: 1;
}

.top_menu {
    padding: 12px 0 0 24px;
}

@media screen and (max-width: 830px) {
    .top_menu-logo {
        width: 80px;
        height: 18px;
    }
}