/* body {
}

.header_title-logo {
    display: none;
}

.header_right-img {
    margin: 0;
    display: none;
}

.header_profile-img-pc {
    display: none;
    
}

.header_profile-img-sp {
    display: block;
    position: absolute;
    width: 130px;
    left: 0;
}

.header_calorie-img-sp {
    display: block;
    position: absolute;
    width: 200px;
    right: 0;
} */





















